* {
  font: undefined;
  font-size: 12pt;
  color: #CAE9FF;
}

#window {
  background: rgba(98, 182, 203, 0.9);
  margin:auto;
  padding: 10px;
  border: 4px solid #1B4965;
}

#input {
  padding: 10px;
  margin-bottom: 10px;
  background:#62b6cb;
}

#outer-box {
  padding: 20px;
}

#img {
  margin-right: 10px;
}

#entry {
  padding: 10px;
}

#entry:selected {
  background-color: #1B4965;
}

#text {
  margin: 2px;
}