* {
  font: undefined;
  font-size: 12pt;
  color: #BEE9E8;
}

#window {
  background: rgba(27, 73, 101, 1);
  margin:auto;
  padding: 10px;
  border: 4px solid #1B4965;
}

#input {
  padding: 10px;
  margin-bottom: 10px;
  background:#1B4965;
}

#outer-box {
  padding: 20px;
}

#img {
  margin-right: 10px;
}

#entry {
  padding: 10px;
}

#entry:selected {
  background-color: #62B6CB;
}

#text {
  margin: 2px;
}