* {
  font: undefined;
  color: #1B4965;
}

#window {
  background: rgba(98, 182, 203, 0.6);
  margin:auto;
  padding: 10px;
  border: 4px solid #1B4965;
}

#input {
  padding: 10px;
  margin-bottom: 10px;
  background:#CAE9FF;
}

#outer-box {
  padding: 20px;
}

#img {
  margin-right: 6px;
}

#entry {
  padding: 10px;
}

#entry:selected {
  background-color: #62B6CB;
}

#text {
  margin: 2px;
}